{% extends 'app1/base.html' %}

{% block body_block %}


<div class="container hr-section text-center p-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <a href="/addemp"><button>Add Employee</button></a>
        </div> 
        <div class="col-md-6 mb-4">
            <a href="/empdata"><button>View EmpData</button></a>
        </div> 
        <div class="col-md-6 mb-4">
            <a href="/addnews"><button >Add Latest News</button></a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="/addnewcal"><button>Add New Year Calender</button></a>
        </div>
        <div class="col-md-12 mb-4">
            <a href="/jobopening"><button>Job Opening</button></a>
         
        </div>
    </div>
</div>



 
{% endblock %} 
 