{% extends "app1/base.html" %}

{% block body_block %}

<center>
    <h1>Add Employee Details</h1>
    <form method="POST">
        {% csrf_token %}
         {{ form.as_p }}
<!-- 
         Fullname    <input type="text" name="fullname" value="{{data.fullname}}"/>
         Employeeid  <input type="text" name="empid" value="{{data.empid}}"/>
         Designation <input type="text" name="designation" value="{{data.designation}}"/>
         Date        <input type="text" name="date" value="{{data.date}}"/>
         department  <input type="text" name="department" value="{{data.department}}"/>
         annualctc   <input type="text" name="annualctc" value="{{data.annualctc}}"/>
         experience  <input type="text" name="experience" value="{{data.experience}}"/>  -->

        <button type="submit">Update</button>

    </form>

</center>




</form>

{% endblock %}
